{% extends "wrapper.html" %}

{% block content %}
<main class="container mt-4">
	<div class="row">
		<div class="col-2 p-3 bg-light text-dark shadow-lg">
			{% include "teacher/menu.html" %}
		</div>
		<div class="col-9 offset-1 p-3 bg-light text-dark shadow-lg" style="overflow-x: auto;">
			<table class="table table-hover">
				<thead>
					<tr >
						<th scope="col" class="text-center">Группа</th>
						<th scope="col" class="text-center">Понедельник</th>
						<th scope="col" class="text-center">Вторник</th>
						<th scope="col" class="text-center">Среда</th>
						<th scope="col" class="text-center">Четверг</th>
						<th scope="col" class="text-center">Пятница</th>
						<th scope="col" class="text-center">Суббота</th>
						<th scope="col" class="text-center">Воскресение</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row" class="text-center">1</th>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group1-1" checked="">
								<label class="custom-control-label" for="group1-1"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group1-2" checked="">
								<label class="custom-control-label" for="group1-2"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group1-3" checked="">
								<label class="custom-control-label" for="group1-3"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group1-4" checked="">
								<label class="custom-control-label" for="group1-4"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group1-5" checked="">
								<label class="custom-control-label" for="group1-5"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group1-6" checked="">
								<label class="custom-control-label" for="group1-6"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group1-7" checked="">
								<label class="custom-control-label" for="group1-7"></label>
							</div>
						</td>
					</tr>

					<tr>
						<th scope="row" class="text-center">2</th>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group2-1" checked="">
								<label class="custom-control-label" for="group2-1"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group2-2" checked="">
								<label class="custom-control-label" for="group2-2"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group2-3" checked="">
								<label class="custom-control-label" for="group2-3"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group2-4" checked="">
								<label class="custom-control-label" for="group2-4"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group2-5" checked="">
								<label class="custom-control-label" for="group2-5"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group2-6" checked="">
								<label class="custom-control-label" for="group2-6"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group2-7" checked="">
								<label class="custom-control-label" for="group2-7"></label>
							</div>
						</td>
					</tr>

					<tr>
						<th scope="row" class="text-center">3</th>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group3-1" checked="">
								<label class="custom-control-label" for="group3-1"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group3-2" checked="">
								<label class="custom-control-label" for="group3-2"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group3-3" checked="">
								<label class="custom-control-label" for="group3-3"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group3-4" checked="">
								<label class="custom-control-label" for="group3-4"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group3-5" checked="">
								<label class="custom-control-label" for="group3-5"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group3-6" checked="">
								<label class="custom-control-label" for="group3-6"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group3-7" checked="">
								<label class="custom-control-label" for="group3-7"></label>
							</div>
						</td>
					</tr>

					<tr>
						<th scope="row" class="text-center">4</th>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group4-1" checked="">
								<label class="custom-control-label" for="group4-1"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group4-2" checked="">
								<label class="custom-control-label" for="group4-2"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group4-3" checked="">
								<label class="custom-control-label" for="group4-3"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group4-4" checked="">
								<label class="custom-control-label" for="group4-4"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group4-5" checked="">
								<label class="custom-control-label" for="group4-5"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group4-6" checked="">
								<label class="custom-control-label" for="group4-6"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group4-7" checked="">
								<label class="custom-control-label" for="group4-7"></label>
							</div>
						</td>
					</tr>

					<tr>
						<th scope="row" class="text-center">5</th>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group5-1" checked="">
								<label class="custom-control-label" for="group5-1"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group5-2" checked="">
								<label class="custom-control-label" for="group5-2"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group5-3" checked="">
								<label class="custom-control-label" for="group5-3"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group5-4" checked="">
								<label class="custom-control-label" for="group5-4"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group5-5" checked="">
								<label class="custom-control-label" for="group5-5"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group5-6" checked="">
								<label class="custom-control-label" for="group5-6"></label>
							</div>
						</td>
						<td>
							<div class="custom-control custom-checkbox text-center">
								<input type="checkbox" class="custom-control-input" id="group5-7" checked="">
								<label class="custom-control-label" for="group5-7"></label>
							</div>
						</td>
					</tr>
				</tbody>

			</table>
			<button class="btn btn-success">Сохранить</button>
		</div>
	</div>
</main>
<script type="text/javascript">
	let el = document.querySelectorAll('input[type="checkbox"]');
	for( let i = 0; i < el.length; i++ ){
		el[i].checked = false;
	}
</script>
{% endblock %}